@define-color foreground 200, 226, 222;
@define-color background 28, 32, 73;
@define-color cursor 200, 226, 222;

@define-color color0 28, 32, 73;
@define-color color1 90, 176, 196;
@define-color color2 101, 203, 201;
@define-color color3 164, 149, 179;
@define-color color4 217, 155, 178;
@define-color color5 167, 183, 195;
@define-color color6 210, 174, 198;
@define-color color7 200, 226, 222;
@define-color color8 140, 158, 155;
@define-color color9 90, 176, 196;
@define-color color10 101, 203, 201;
@define-color color11 164, 149, 179;
@define-color color12 217, 155, 178;
@define-color color13 167, 183, 195;
@define-color color14 210, 174, 198;
@define-color color15 200, 226, 222;
