* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #1c2049;
    color1:     #5AB0C4;
    color2:     #65CBC9;
    color3:     #A495B3;
    color4:     #D99BB2;
    color5:     #A7B7C3;
    color6:     #D2AEC6;
    color7:     #c8e2de;
    color8:     #8c9e9b;
    color9:     #5AB0C4;
    color10:    #65CBC9;
    color11:    #A495B3;
    color12:    #D99BB2;
    color13:    #A7B7C3;
    color14:    #D2AEC6;
    color15:    #c8e2de;
}
