#!/bin/bash

alias vim="nvim"
alias n="nvim"
alias q="exit"
alias lg="lazygit"
alias hosts='cat /etc/hosts | tr " " "\n" | fzf'
alias ls='eza --group-directories-first --icons'
alias r='fc -s'
# uncomment for setting vesktop icon to discord
# alias yay="~/.sources/scripts/yay-vesktop.sh"
alias pacman="sudo pacman"

# scripts
alias tmux='~/scripts/tmux-wrapper.sh'
alias sshs='~/scripts/search-hosts.sh'

alias cat="bat -p"
alias act='source env/bin/activate'

sudo() {
    command sudo -E -s "$@"
}

# Print all 256 colors
colors() {
    local i
    for i in {0..255}; do
        printf "\x1b[38;5;${i}mcolor %d\n" "$i"
    done
    tput sgr0
}
