#!/bin/bash

alias vim="nvim"
alias n="nvim"
alias q="exit"
alias lg="lazygit"
alias sshs='~/script/search-hosts.sh'
alias hosts='cat /etc/hosts | tr " " "\n" | fzf'
alias ls='eza --group-directories-first --icons'
alias r='fc -s'
alias yay="~/.sources/scripts/yay-vesktop.sh"
alias pacman="sudo pacman"

tmux() {
    if [ -n "$TMUX" ]; then
        # Schon in einer tmux-Session → normal weiterreichen
        command tmux "$@"
        return
    fi

    if [ $# -gt 0 ]; then
        # Wenn Argumente übergeben werden → normal tmux ausführen
        command tmux "$@"
        return
    fi

    # Keine Argumente übergeben
    if tmux ls >/dev/null 2>&1; then
        # Es gibt mindestens eine Session → an erste attachen
        command tmux attach -t "$(tmux ls -F '#S' | head -n1)"
    else
        # Keine Sessions → neue erstellen
        command tmux new
    fi
}

act_env() {
    if [[ -d ".venv" ]]; then
        source ".venv/bin/activate"
    elif [[ -d "env" ]]; then
        source "env/bin/activate"
    else
        echo "No virtual environment found."
    fi
}

sudo() {
    command sudo -E -s "$@"
}

alias act=act_env

# Print all 256 colors
colors() {
    local i
    for i in {0..255}; do
        printf "\x1b[38;5;${i}mcolor %d\n" "$i"
    done
    tput sgr0
}
alias p='pass fzf'
alias pws='pass fzf -s'
alias pw='~/.config/i3/scripts/create_pass_entry.sh'
