#!/bin/bash

alias vim="nvim"
alias q="exit"
alias lg="lazygit"
alias sshs='~/script/search-hosts.sh'
alias hosts='cat /etc/hosts | tr " " "\n" | fzf'
alias ls='eza --group-directories-first --icons'
alias r='fc -s'
alias act='source .venv/bin/activate'
alias rm="safe-rm"
alias yay="~/.sources/scripts/yay-vesktop.sh"

# Print all 256 colors
colors() {
	local i
	for i in {0..255}; do
		printf "\x1b[38;5;${i}mcolor %d\n" "$i"
	done
	tput sgr0
}
alias p='pass fzf'
alias pws='pass fzf -s'
alias pw='~/.config/i3/scripts/create_pass_entry.sh'
